#Webdriver CONFIGURATION

webdriver.geckodriver=geckodriver.exe
webdriver.chromedriver=chromedriver.exe
webdriver.implicitytimeout=1

#webdriver.browser=chrome
#webdriver.browser=firefox
webdriver.browser=WDCHROME
#webdriver.browser=WDFIREFOX
#webdriver.browser=WDIE
#webdriver.browser=WDEDGE
#webdriver.browser=IE
